html {
  margin-left: 5px;
  padding-left: 15px;
}

header {
    background-color: lavender;
  }
  
  .my-card {
    position: fixed;
    right: 20px;
    top: 145px;
    background-color: lightyellow;
    border-radius: 10px;
  }